.block__item {
  // display: flex;

  .button__item {
    position: relative;
    top: 0px;
    left: -45px;
    z-index: 100;
  }
  
  button {
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    // border: none;
    background-color: rgba(255, 255, 255, 0);
  }
}

.btn-area {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;

  div {
    margin-right: 1rem;
  }
}

.plus {
  background-image: url('../assets/plus.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.minus {
  background-image: url('../assets/minus.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.list__cancel {
  list-style-image: url('../assets/cancel.svg');
}

.list__progress {
  list-style-image: url('../assets/progress.svg');
}